<div style=" margin: auto; width: 50%; padding-top: 50px;">

  <table id="excel-table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of userList">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
    </tr>
  </table>
  <br>
  <br>
  <button type="button" class="btn btn-primary" (click)="exportexcel()">Download as Excel</button>
  <br>
  <br>
  <h2>File will be saved as</h2>
  <h3> {{time}} </h3>

</div>
